@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@keyframes moveMobile{
    0% {margin-top: 20px;}
}
@keyframes movePc{
    0% {margin-top:30px;}
}
@keyframes moveTop{
    30% {top:0; }
    100% {top:-100%;}
}
@keyframes txtColor{
    0% {}
    50% {color: #fff;}
}




/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{font-size:0.625rem; line-height:1.6; width:100%; height:100%;}
body{font-family: 'Nanum Gothic', sans-serif;}
a{text-decoration: none;}

/* header */
header{
    position: fixed; top:0;
    height: 40px; width: 100%;
    background:rgba(0,0,0,.85);
    
}
header:after{content: ""; display: block; clear: both;}


/*h1 값 a 한테 주기 */
h1 a{
    text-indent: -99999px;
    display: block;
    margin: 0 auto;
    width:60px; height: 40px;
    background: url(../img/benq_logo1.png) center no-repeat;
    background-size: contain;
    
}



header .toggle{
    position: absolute;
    top:0;
    float: left;
    width:30px; height: 20px;
    margin:10px 12px;
    padding: 0;
    border:none; background: none;
}
header .toggle span{
	display:block; background:#9a8ec3; width:30px; height:4px; 
	text-indent:-99999px;
}
header .toggle span:nth-child(2){
    margin: 4px auto;
}
header .toggle:focus, header .toggle:hover{
    cursor: pointer;
}
.search{
    position: absolute;
    top:7px;
    float: right;
    right:13px;
    width:25px; height: 25px;
    text-indent: -99999px;
    background: url(../icon/search_icon_mobile.png) center no-repeat;
    background-size: contain;
}

/* nav 배너페이징 위로올라오게 못함*/
nav{
    z-index: 10;
    left: -100%;
    position:fixed;
    top:40px; 
    width:100%; 
    height: 100%;
    background: #4d247a;
}
nav h2{
     text-indent:-99999px; font-size: 0; line-height:0
}

nav .depth1 li{
    text-indent: 18px;
    line-height: 40px;
    border-top:1px solid #fff;
    
}
nav .depth1 li:first-child{
    border: none;
}
nav .depth2{
    background:#9a8ec3;
    display: none;
}
nav .depth2 li{
    text-indent: 27px;
    line-height: 40px;
}

nav img{
    display: none;
}
nav a{
    display: block;
    color: #eee;
    font-size: 1.5rem; font-weight: bold;
}


/* searchbox */
.searchbox{
    display: none;
    position: fixed;
    width:100%;
    height: 100%;
    background: rgba(77,36,122,.6);
}
.searchbox:after{content: ""; display: block; clear: both;}
.searchbox span{
    display: block;
    margin: 10px auto;
    width:290px; 
    height: 35px;
    border:1px solid #eee;
    border-radius: 5px;
    background: #eee;
}
.searchbox span input{
    width:250px; height: 33px;
    background: none;
    border:none;
    font-size: 1.5rem;
    text-indent: 10px;
}
.searchbox span button{
    width:20px; height: 20px;
    margin:5px;
    background: url(../icon/search_icon_mobile.png)center no-repeat;
    background-size: contain;
    border: none;
    text-indent: -99999px;
    
}
.searchbox span button:focus, .searchbox span button:hover{
    cursor: pointer;
}

/* main */
#main{
    width:100%; height: 2750px;
}
#main ul{
    
    float: right;
    top:0;
    margin-top:340px;
    
}
#main ul li{
   
}

/* 수정해야됨! */
#main ul li a{
    display: block;
    text-indent: -99999px;
     margin-top:6px;
    width:10px; height: 10px;
    background: url(../icon/page_icon.png) center no-repeat;
    background-size: contain;
    
}
#main ul li a:focus, #main ul li a:hover{
    cursor: pointer;
    background-image: url(../icon/page_on_icon.png);
}

.on{background-image: url(../icon/page_on_icon.png);}




section .bg{
    display: block;
    height:100%; height: 350px;
    background: url(../img/main_tablit_bg1.jpg) center no-repeat;
    background-size:cover;
}
section:nth-of-type(2) .bg{background-image: url(../img/main_tablit_bg2.jpg)}
section:nth-of-type(3) .bg{background-image: url(../img/main_tablit_bg3.jpg)}
section:nth-of-type(4) .bg{background-image: url(../img/main_tablit_bg4.jpg)}
section:nth-of-type(5) .bg{background-image: url(../img/main_tablit_bg5.jpg)}
section {
}
section div{
    background: #000;
    height: 200px;
    
}
section:nth-of-type(2) div{ background-color:#6b93c0; }
section:nth-of-type(4) div{ background-color:#c6b087; }
section:nth-of-type(5) div{ background-color:#e39967; }

section div:after{content: ""; display: block; clear: both;}
section div .txt{
    margin-top:47px;
    float: left;
    text-align: center;
    font-weight: 700;
    color: #fff;
    width:100%;
}

section div .txt span{
    display: block;
    font-size: 1.6rem;
}
section div .txt h3{
    font-size: 3.5rem;
}


section div .nextbtn{
    
    float: left;
    display: block;
    width:100%;
    text-align: center;
    margin: 32px 0;
    height: 20px;
    animation:moveMobile 1s;
    animation-iteration-count: infinite;
    text-indent: -99999px;
    background: url(../icon/pagedown_icon.png)center no-repeat;
    background-position: center;
    background-size:contain;
}












